{%extends 'base.html'%}
{% block body %}
<center>
  <img src="{{STATIC_URL}}imgs/registro.png">
</center>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-2 cajats">
			<div class="row">
				<form method="POST" enctype="multipart/form-data">
					{%csrf_token%}
					{{form.as_p}}
					<br>
          <center>
					  <input class="btn btn-success btn-lg" type="submit" value="Aceptar">
					  <input class="btn btn-info btn-lg" type="reset" value="Limpiar">
          </center>

				</form>
			</div> {# Row Titulo #}
			<div class="bubbles">
				<img src="{{STATIC_URL}}imgs/drop.png" class="bubble b2" />
				<img src="{{STATIC_URL}}imgs/drop.png" class="bubble b5" />
				<img src="{{STATIC_URL}}imgs/drop.png" class="bubble" />
				<img src="{{STATIC_URL}}imgs/drop.png" class="bubble b6" />
				<img src="{{STATIC_URL}}imgs/drop.png" class="bubble b3" />
				<img src="{{STATIC_URL}}imgs/drop.png" class="bubble b7" />
				<img src="{{STATIC_URL}}imgs/drop.png" class="bubble b4" />
				<img src="{{STATIC_URL}}imgs/drop.png" class="bubble b8" />
			</div>
		</div>
		<div class="col-md-5" align="center">
			<font color="black">
				<img src="{{STATIC_URL}}imgs/RegistroPeque.png">
			</font>
      <font color="orange" size = "6">
        <strong><em>Tutores registrados recientemente</em></strong>
      </font>	
			<div id = "newtutor">
				<ul class="nav nav-list" id="newtutor">
					<li class="nav-header"> </li>
				</ul>
			</div>
      <br>
      <a class="btn btn-lg btn-success" href="/tutores/WEBjson/">Tutores Json</a>
			&nbsp&nbsp&nbsp&nbsp
			<a class="btn btn-lg btn-success" href="/tutores/WEBxml/">Tutores XML</a>
		</div>
	</div>
</div>
<center>
	<h2>{{info}}</h2>
</center>
{% endblock %}