{%extends 'base.html'%}

{%block body%}
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
		<font color="orange">
	<strong><h2>Peques registrados</h2></strong>
</font>	
			<table table style="background-color: FFFFFF" class="table table-striped table-bordered">
			<thead align="center">
				<th>FECHA</th>
				<th>NOMBRE</th>
				<th>EDAD</th>
				<th>ESCOLARIDAD</th>
			</thead>
			{%for P in peques%}
				<tr>
					<td>{{P.fecha}}</td>
					<td>{{P.nombre}}</td>
					<td>{{P.edad}}</td>
					<td>{{P.escolaridad}}</td>
				</tr>
			{%endfor%}
		</table>
		</div>			
	</div>	
</div>
{%endblock%}