@charset "utf-8";

/* A N I M A C I O N    M O D U L O S    (J U E G O S)*/

.cajamodulos{
  width: 1200px;
  height: 750px;
  margin:0 auto;
  padding: 25px;
  background: url(../imgs/modulosfondo.jpg) no-repeat;
  position: relative;
  overflow: hidden;
  filter: alpha(opacity=40); /* For IE8 and earlier */
  -webkit-box-shadow: 10px 10px 39px 2px rgba(0,0,0,0.68);
  -moz-box-shadow: 10px 10px 39px 2px rgba(0,0,0,0.68);
  -o-box-shadow: 10px 10px 39px 2px rgba(0,0,0,0.68);
  box-shadow: 10px 10px 39px 2px rgba(0,0,0,0.68);
  border-radius: 10px;
}

#pulpi{
    width: 250px;
    height: 250px;
    background: url(../imgs/Pequelogo1.ico) no-repeat;
    position: absolute;
    top: -35px;
    left: 2px;
    transform:scale(0.4);
    -webkit-transform:scale(0.4);
    -moz-transform:scale(0.4);
    -o-transform:scale(0.4);
}

#boton1,#boton2,#boton3,#boton4,#boton5,#boton6,#boton7,#boton8{
   display:none;
}

.boton{
    width: 90px;
    height:50px;
    top:105px;
    left:100px;
    background-color: rgba(215, 40, 40, 0.0);
    position: absolute;
    cursor:pointer;
   /* background-color: #442344;*/
}
.boton:hover{
    letter-spacing: 2px;
    width: 90px;
    height:90px;
    font-size: 25px;
    background-color: rgba(215, 40, 40, 0.0);
    cursor:pointer;
}

.boton2{
    width: 90px;
    height:50px;
    top:270px;
    left:400px;
    background-color: rgba(215, 40, 40, 0.0);
    position: absolute;
    cursor:pointer;
   /* background-color: #442344;*/
}
.boton2:hover{
    letter-spacing: 2px;
    width: 90px;
    height:90px;
    font-size: 25px;
    background-color: rgba(215, 40, 40, 0.0);
    cursor:pointer;
}

.boton3{
    width: 90px;
    height:50px;
    top:165px;
    left:740px;
    background-color: rgba(215, 40, 40, 0.0);
    position: absolute;
    cursor:pointer;
}
.boton3:hover{
    letter-spacing: 2px;
    width: 90px;
    height:90px;
    font-size: 25px;
    background-color: rgba(215, 40, 40, 0.0);
    cursor:pointer;
}

.boton4{
    width: 90px;
    height:50px;
    top:285px;
    left:1020px;
    background-color: rgba(215, 40, 40, 0.0);
    position: absolute;
    cursor:pointer;
}
.boton4:hover{
    letter-spacing: 2px;
    width: 90px;
    height:90px;
    font-size: 25px;
    background-color: rgba(215, 40, 40, 0.0);
    cursor:pointer;
}

.boton5{
    width: 90px;
    height:50px;
    top:500px;
    left:740px;
    background-color: rgba(215, 40, 40, 0.0);
    position: absolute;
    cursor:pointer;
}
.boton5:hover{
    letter-spacing: 2px;
    width: 90px;
    height:90px;
    font-size: 25px;
    background-color: rgba(215, 40, 40, 0.0);
    cursor:pointer;
}

.boton6{
    width: 90px;
    height:50px;
    top:640px;
    left:1020px;
    background-color: rgba(215, 40, 40, 0.0);
    position: absolute;
    cursor:pointer;
}
.boton6:hover{
    letter-spacing: 2px;
    width: 90px;
    height:90px;
    font-size: 25px;
    background-color: rgba(215, 40, 40, 0.0);
    cursor:pointer;
}

.boton7{
    width: 90px;
    height:50px;
    top:538px;
    left:405px;
    background-color: rgba(215, 40, 40, 0.0);
    position: absolute;
    cursor:pointer;
   /* background-color: #442344;*/
}
.boton7:hover{
    letter-spacing: 2px;
    width: 90px;
    height:90px;
    font-size: 25px;
    background-color: rgba(215, 40, 40, 0.0);
    cursor:pointer;
}

.boton8{
    width: 90px;
    height:50px;
    top:660px;
    left:130px;
    background-color: rgba(215, 40, 40, 0.0);
    position: absolute;
    cursor:pointer;
   /* background-color: #442344;*/
}
.boton8:hover{
    letter-spacing: 2px;
    width: 90px;
    height:90px;
    font-size: 25px;
    background-color: rgba(215, 40, 40, 0.0);
    cursor:pointer;
}

#boton1:checked ~ #pulpi{

    animation-name: _pulpi;
        animation-duration: 4s;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode:forwards;
        animation-direction: alternate;

    -webkit-animation-name: _pulpi;
        -webkit-animation-duration: 4s;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode:forwards;
        -webkit-animation-direction: alternate;

    -moz-animation-name: _pulpi;
        -moz-animation-duration: 4s;
        -moz-animation-delay: 0s;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: linear;
        -moz-animation-fill-mode:forwards;
        -moz-animation-direction: alternate;

    -o-animation-name: _pulpi;
        -o-animation-duration: 4s;
        -o-animation-delay: 0s;
        -o-animation-iteration-count: 1;
        -o-animation-timing-function: linear;
        -o-animation-fill-mode:forwards;
        -o-animation-direction: alternate;
}

@keyframes _pulpi{
   0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.8 ;}
    5%{ transform:translate3d(2px, -1px, 0) scale(0.0); opacity:1;}
    10%{ transform:translate3d(1px, -2px, 0) rotate(10deg) scale(0.8) ; }
    20%{ transform:translate3d(3px, -4px, 0) rotate(14deg) scale(0.12); }
    30%{ transform:translate3d(2px, -2px, 0) rotate(15deg) scale(0.8); }
    40%{ transform:translate3d(1px, -6px, 0) rotate(20deg) scale(0.6); }
    50%{ transform:translate3d(2px, -10px, 0) rotate(18deg) scale(0.4); }
    60%{ transform:translate3d(-3px, -14px, 0) rotate(20deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(0, -20px, 0)scale(0.4); opacity:1 ; }
}

@-webkit-keyframes _pulpi{
   0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.8 ;}
    5%{ transform:translate3d(2px, -1px, 0) scale(0.0); opacity:1;}
    10%{ transform:translate3d(1px, -2px, 0) rotate(10deg) scale(0.8) ; }
    20%{ transform:translate3d(3px, -4px, 0) rotate(14deg) scale(0.12); }
    30%{ transform:translate3d(2px, -2px, 0) rotate(15deg) scale(0.8); }
    40%{ transform:translate3d(1px, -6px, 0) rotate(20deg) scale(0.6); }
    50%{ transform:translate3d(2px, -10px, 0) rotate(18deg) scale(0.4); }
    60%{ transform:translate3d(-3px, -14px, 0) rotate(20deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(0, -20px, 0)scale(0.4); opacity:1 ; }
}

@-moz-keyframes _pulpi{
   0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.8 ;}
    5%{ transform:translate3d(2px, -1px, 0) scale(0.0); opacity:1;}
    10%{ transform:translate3d(1px, -2px, 0) rotate(10deg) scale(0.8) ; }
    20%{ transform:translate3d(3px, -4px, 0) rotate(14deg) scale(0.12); }
    30%{ transform:translate3d(2px, -2px, 0) rotate(15deg) scale(0.8); }
    40%{ transform:translate3d(1px, -6px, 0) rotate(20deg) scale(0.6); }
    50%{ transform:translate3d(2px, -10px, 0) rotate(18deg) scale(0.4); }
    60%{ transform:translate3d(-3px, -14px, 0) rotate(20deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(0, -20px, 0)scale(0.4); opacity:1 ; }
}

@-o-keyframes _pulpi{
   0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.8 ;}
    5%{ transform:translate3d(2px, -1px, 0) scale(0.0); opacity:1;}
    10%{ transform:translate3d(1px, -2px, 0) rotate(10deg) scale(0.8) ; }
    20%{ transform:translate3d(3px, -4px, 0) rotate(14deg) scale(0.12); }
    30%{ transform:translate3d(2px, -2px, 0) rotate(15deg) scale(0.8); }
    40%{ transform:translate3d(1px, -6px, 0) rotate(20deg) scale(0.6); }
    50%{ transform:translate3d(2px, -10px, 0) rotate(18deg) scale(0.4); }
    60%{ transform:translate3d(-3px, -14px, 0) rotate(20deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(0, -20px, 0)scale(0.4); opacity:1 ; }
}

#boton2:checked ~ #pulpi{

    animation-name: _pulpi2;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode:forwards;
        animation-direction: alternate;

    -webkit-animation-name: _pulpi2;
        -webkit-animation-duration: 3s;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode:forwards;
        -webkit-animation-direction: alternate;

    -moz-animation-name: _pulpi2;
        -moz-animation-duration: 3s;
        -moz-animation-delay: 0s;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: linear;
        -moz-animation-fill-mode:forwards;
        -moz-animation-direction: alternate;

    -o-animation-name: _pulpi2;
        -o-animation-duration: 3s;
        -o-animation-delay: 0s;
        -o-animation-iteration-count: 1;
        -o-animation-timing-function: linear;
        -o-animation-fill-mode:forwards;
        -o-animation-direction: alternate;
}

@keyframes _pulpi2{
   0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    8%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(285px, 138px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(283px, 133px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(280px, 130px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(285px, 135px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(290px, 138px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(295px, 142px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(285px, 138px, 0)scale(0.4); opacity:1 ; }
}

@-webkit-keyframes _pulpi2{
   0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    8%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(285px, 138px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(283px, 133px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(280px, 130px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(285px, 135px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(290px, 138px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(295px, 142px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(285px, 138px, 0)scale(0.4); opacity:1 ; }
}

@-moz-keyframes _pulpi2{
   0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    8%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(285px, 138px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(283px, 133px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(280px, 130px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(285px, 135px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(290px, 138px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(295px, 142px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(285px, 138px, 0)scale(0.4); opacity:1 ; }
}

@-o-keyframes _pulpi2{
   0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    8%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(285px, 138px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(283px, 133px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(280px, 130px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(285px, 135px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(290px, 138px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(295px, 142px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(285px, 138px, 0)scale(0.4); opacity:1 ; }
}

#pulpi3{
    width: 250px;
    height: 250px;
    background: url(../imgs/Pequelogo1.ico) no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    transform:scale(0.0);
    -webkit-transform:scale(0.0);
    -moz-transform:scale(0.0);
    -o-transform:scale(0.0);
}

#boton3:checked ~ #pulpi3{

    animation-name: _pulpi3;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode:forwards;
        animation-direction: alternate;

    -webkit-animation-name: _pulpi3;
        -webkit-animation-duration: 3s;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode:forwards;
        -webkit-animation-direction: alternate;

    -moz-animation-name: _pulpi3;
        -moz-animation-duration: 3s;
        -moz-animation-delay: 0s;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: linear;
        -moz-animation-fill-mode:forwards;
        -moz-animation-direction: alternate;

    -o-animation-name: _pulpi3;
        -o-animation-duration: 3s;
        -o-animation-delay: 0s;
        -o-animation-iteration-count: 1;
        -o-animation-timing-function: linear;
        -o-animation-fill-mode:forwards;
        -o-animation-direction: alternate;
}

@keyframes _pulpi3{
  0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    8%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(655px, 15px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(653px, 13px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(659px, 19px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(660px, 20px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(656px, 22px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(653px, 20px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(650px, 18px, 0)scale(0.4); opacity:1 ; }
}

@-webkit-keyframes _pulpi3{
  0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    5%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(655px, 15px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(653px, 13px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(659px, 19px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(660px, 20px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(656px, 22px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(653px, 20px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(650px, 18px, 0)scale(0.4); opacity:1 ; }
}

@-moz-keyframes _pulpi3{
  0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    5%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(655px, 15px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(653px, 13px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(659px, 19px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(660px, 20px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(656px, 22px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(653px, 20px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(650px, 18px, 0)scale(0.4); opacity:1 ; }
}

@-o-keyframes _pulpi3{
  0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    5%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(655px, 15px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(653px, 13px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(659px, 19px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(660px, 20px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(656px, 22px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(653px, 20px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(650px, 18px, 0)scale(0.4); opacity:1 ; }
}


#boton4:checked ~ #pulpi3{

    animation-name: _pulpi4;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode:forwards;
        animation-direction: alternate;

    -webkit-animation-name: _pulpi4;
        -webkit-animation-duration: 3s;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode:forwards;
        -webkit-animation-direction: alternate;

    -moz-animation-name: _pulpi4;
        -moz-animation-duration: 3s;
        -moz-animation-delay: 0s;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: linear;
        -moz-animation-fill-mode:forwards;
        -moz-animation-direction: alternate;

    -o-animation-name: _pulpi4;
        -o-animation-duration: 3s;
        -o-animation-delay: 0s;
        -o-animation-iteration-count: 1;
        -o-animation-timing-function: linear;
        -o-animation-fill-mode:forwards;
        -o-animation-direction: alternate;
}

@keyframes _pulpi4{
  0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    5%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(920px, 130px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(920px, 130px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(920px, 130px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(920px, 130px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(920px, 130px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(920px, 130px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(920px, 130px, 0)scale(0.4); opacity:1 ; }
}

@-webkit-keyframes _pulpi4{
  0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    5%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(920px, 130px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(920px, 130px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(920px, 130px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(920px, 130px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(920px, 130px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(920px, 130px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(920px, 130px, 0)scale(0.4); opacity:1 ; }
}

@-moz-keyframes _pulpi4{
  0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    5%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(920px, 130px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(920px, 130px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(920px, 130px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(920px, 130px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(920px, 130px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(920px, 130px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(920px, 130px, 0)scale(0.4); opacity:1 ; }
}

@-o-keyframes _pulpi4{
  0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    5%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(920px, 130px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(920px, 130px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(920px, 130px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(920px, 130px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(920px, 130px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(920px, 130px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(920px, 130px, 0)scale(0.4); opacity:1 ; }
}

#boton5:checked ~ #pulpi3{

    animation-name: _pulpi5;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode:forwards;
        animation-direction: alternate;

    -webkit-animation-name: _pulpi5;
        -webkit-animation-duration: 3s;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode:forwards;
        -webkit-animation-direction: alternate;

    -moz-animation-name: _pulpi5;
        -moz-animation-duration: 3s;
        -moz-animation-delay: 0s;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: linear;
        -moz-animation-fill-mode:forwards;
        -moz-animation-direction: alternate;

    -o-animation-name: _pulpi5;
        -o-animation-duration: 3s;
        -o-animation-delay: 0s;
        -o-animation-iteration-count: 1;
        -o-animation-timing-function: linear;
        -o-animation-fill-mode:forwards;
        -o-animation-direction: alternate;
}

@keyframes _pulpi5{
  0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    5%{ transform:translate3d(0px, 350px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(655px, 350px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(653px, 350px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(659px, 350px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(660px, 350px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(656px, 350px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(653px, 350px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(650px, 350px, 0)scale(0.4); opacity:1 ; }
}

@-webkit-keyframes _pulpi5{
  0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    5%{ transform:translate3d(0px, 350px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(655px, 350px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(653px, 350px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(659px, 350px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(660px, 350px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(656px, 350px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(653px, 350px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(650px, 350px, 0)scale(0.4); opacity:1 ; }
}

@-moz-keyframes _pulpi5{
  0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    5%{ transform:translate3d(0px, 350px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(655px, 350px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(653px, 350px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(659px, 350px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(660px, 350px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(656px, 350px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(653px, 350px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(650px, 350px, 0)scale(0.4); opacity:1 ; }
}

@-o-keyframes _pulpi5{
  0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    5%{ transform:translate3d(0px, 350px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(655px, 350px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(653px, 350px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(659px, 350px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(660px, 350px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(656px, 350px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(653px, 350px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(650px, 350px, 0)scale(0.4); opacity:1 ; }
}

#boton6:checked ~ #pulpi3{

    animation-name: _pulpi6;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode:forwards;
        animation-direction: alternate;

    -webkit-animation-name: _pulpi6;
        -webkit-animation-duration: 3s;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode:forwards;
        -webkit-animation-direction: alternate;

    -moz-animation-name: _pulpi6;
        -moz-animation-duration: 3s;
        -moz-animation-delay: 0s;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: linear;
        -moz-animation-fill-mode:forwards;
        -moz-animation-direction: alternate;

    -o-animation-name: _pulpi6;
        -o-animation-duration: 3s;
        -o-animation-delay: 0s;
        -o-animation-iteration-count: 1;
        -o-animation-timing-function: linear;
        -o-animation-fill-mode:forwards;
        -o-animation-direction: alternate;
}

@keyframes _pulpi6{
  0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    5%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(920px, 460px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(920px, 460px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(920px, 460px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(920px, 460px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(920px, 460px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(920px, 460px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(920px, 460px, 0)scale(0.4); opacity:1 ; }
}

@-webkit-keyframes _pulpi6{
  0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    5%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(920px, 460px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(920px, 460px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(920px, 460px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(920px, 460px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(920px, 460px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(920px, 460px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(920px, 460px, 0)scale(0.4); opacity:1 ; }
}

@-moz-keyframes _pulpi6{
  0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    5%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(920px, 460px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(920px, 460px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(920px, 460px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(920px, 460px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(920px, 460px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(920px, 460px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(920px, 460px, 0)scale(0.4); opacity:1 ; }
}

@-o-keyframes _pulpi6{
  0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    5%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(920px, 460px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(920px, 460px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(920px, 460px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(920px, 460px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(920px, 460px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(920px, 460px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(920px, 460px, 0)scale(0.4); opacity:1 ; }
}

#boton7:checked ~ #pulpi3{

    animation-name: _pulpi7;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode:forwards;
        animation-direction: alternate;

    -webkit-animation-name: _pulpi7;
        -webkit-animation-duration: 3s;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode:forwards;
        -webkit-animation-direction: alternate;

    -moz-animation-name: _pulpi7;
        -moz-animation-duration: 3s;
        -moz-animation-delay: 0s;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: linear;
        -moz-animation-fill-mode:forwards;
        -moz-animation-direction: alternate;

    -o-animation-name: _pulpi7;
        -o-animation-duration: 3s;
        -o-animation-delay: 0s;
        -o-animation-iteration-count: 1;
        -o-animation-timing-function: linear;
        -o-animation-fill-mode:forwards;
        -o-animation-direction: alternate;
}

@keyframes _pulpi7{
   0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    8%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(310px, 360px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(310px, 360px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(310px, 360px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(310px, 360px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(310px, 360px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(310px, 360px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(310px, 360px, 0)scale(0.4); opacity:1 ; }
}

@-webkit-keyframes _pulpi7{
   0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    8%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(310px, 360px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(310px, 360px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(310px, 360px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(310px, 360px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(310px, 360px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(310px, 360px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(310px, 360px, 0)scale(0.4); opacity:1 ; }
}

@-moz-keyframes _pulpi7{
   0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    8%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(310px, 360px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(310px, 360px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(310px, 360px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(310px, 360px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(310px, 360px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(310px, 360px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(310px, 360px, 0)scale(0.4); opacity:1 ; }
}

@-o-keyframes _pulpi7{
   0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    8%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(310px, 360px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(310px, 360px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(310px, 360px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(310px, 360px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(310px, 360px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(310px, 360px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(310px, 360px, 0)scale(0.4); opacity:1 ; }
}

#boton8:checked ~ #pulpi3{

    animation-name: _pulpi8;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode:forwards;
        animation-direction: alternate;

    -webkit-animation-name: _pulpi8;
        -webkit-animation-duration: 3s;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode:forwards;
        -webkit-animation-direction: alternate;

    -moz-animation-name: _pulpi8;
        -moz-animation-duration: 3s;
        -moz-animation-delay: 0s;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: linear;
        -moz-animation-fill-mode:forwards;
        -moz-animation-direction: alternate;

    -o-animation-name: _pulpi8;
        -o-animation-duration: 3s;
        -o-animation-delay: 0s;
        -o-animation-iteration-count: 1;
        -o-animation-timing-function: linear;
        -o-animation-fill-mode:forwards;
        -o-animation-direction: alternate;
}

@keyframes _pulpi7{
   0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    8%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(310px, 360px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(310px, 360px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(310px, 360px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(310px, 360px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(310px, 360px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(310px, 360px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(310px, 360px, 0)scale(0.4); opacity:1 ; }
}

@-webkit-keyframes _pulpi8{
   0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    8%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(10px, 480px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(10px, 480px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(10px, 480px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(10px, 480px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(10px, 480px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(10px, 480px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(10px, 480px, 0)scale(0.4); opacity:1 ; }
}

@-moz-keyframes _pulpi7{
   0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    8%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(310px, 360px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(310px, 360px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(310px, 360px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(310px, 360px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(310px, 360px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(310px, 360px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(310px, 360px, 0)scale(0.4); opacity:1 ; }
}

@-o-keyframes _pulpi7{
   0%{ transform:translate3d(0, 0, 0) scale(0.0); opacity:0.0 ;}
    8%{ transform:translate3d(0px, 0px, 0) scale(0.0); opacity:0;}
    10%{ transform:translate3d(310px, 360px, 0) rotate(8deg) scale(0.8) ; }
    20%{ transform:translate3d(310px, 360px, 0) rotate(10deg) scale(0.12); }
    30%{ transform:translate3d(310px, 360px, 0) rotate(9deg) scale(0.8); }
    40%{ transform:translate3d(310px, 360px, 0) rotate(10deg) scale(0.6); }
    50%{ transform:translate3d(310px, 360px, 0) rotate(6deg) scale(0.4); }
    60%{ transform:translate3d(310px, 360px, 0) rotate(10deg) scale(0.4); opacity:0.9; }
    100%{ transform:translate3d(310px, 360px, 0)scale(0.4); opacity:1 ; }
}


/* A N I M A C I O N    L O G I N  ---------------------------------------------- */

.cajalogin{
  width: 1120px;
  height: 600px;
  margin:0 auto;
  padding: 25px;
  background: url(../imgs/is2.png) no-repeat;
  position: relative;
  overflow: hidden;
  filter: alpha(opacity=40); /* For IE8 and earlier */
  -webkit-box-shadow: 10px 10px 39px 2px rgba(0,0,0,0.68);
  -moz-box-shadow: 10px 10px 39px 2px rgba(0,0,0,0.68);
  -o-box-shadow: 10px 10px 39px 2px rgba(0,0,0,0.68);
  box-shadow: 10px 10px 39px 2px rgba(0,0,0,0.68);
}

/* A N I M A C I O N    L O G O */

#logo{
    width: 242px;
    height: 163px;
    background: url(../imgs/PequeGames.png);
    position: absolute;
    top: 50px;
    left: 70px;


    animation-name: _logo;
        animation-duration: 4s;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode:forwards;
        animation-direction: alternate;

    -webkit-animation-name: _logo;
        -webkit-animation-duration: 4s;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode:forwards;
        -webkit-animation-direction: alternate;

    -o-animation-name: _logo;
        -o-animation-duration: 4s;
        -o-animation-delay: 0s;
        -o-animation-iteration-count: 1;
        -o-animation-timing-function: linear;
        -o-animation-fill-mode:forwards;
        -o-animation-direction: alternate;

    -moz-animation-name: _logo;
        -moz-animation-duration: 4s;
        -moz-animation-delay: 0s;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: linear;
        -moz-animation-fill-mode:forwards;
        -moz-animation-direction: alternate;
}

@keyframes _logo{
    0%{ transform:translate3d(0, 0, 0) scale(0.1);}
    5%{ transform:translate3d(4px, 0px, 0) scale(0.2);}
    10%{ transform:translate3d(2px, -2px, 0) scale(0.6);}
    20%{ transform:translate3d(6px, -4px, 0) rotate(10deg) scale(0.9);}
    30%{ transform:translate3d(4px, -3px, 0) rotate(14deg) scale(1);}
    40%{ transform:translate3d(1px, -5px, 0) rotate(15deg) scale(1.1);}
    100%{ transform:translate3d(2px, -4px, 0) rotate(14deg) scale(1.2);}
}

@-webkit-keyframes _logo{
    0%{ transform:translate3d(0, 0, 0) scale(0.1);}
    5%{ transform:translate3d(4px, 0px, 0) scale(0.2);}
    10%{ transform:translate3d(2px, -2px, 0) scale(0.6);}
    20%{ transform:translate3d(6px, -4px, 0) rotate(10deg) scale(0.9);}
    30%{ transform:translate3d(4px, -3px, 0) rotate(14deg) scale(1);}
    40%{ transform:translate3d(1px, -5px, 0) rotate(15deg) scale(1.1);}
    100%{ transform:translate3d(2px, -4px, 0) rotate(14deg)scale(1.2);}
}

@-o-keyframes _logo{
    0%{ transform:translate3d(0, 0, 0) scale(0.1);}
    5%{ transform:translate3d(4px, 0px, 0) scale(0.2);}
    10%{ transform:translate3d(2px, -2px, 0) scale(0.6);}
    20%{ transform:translate3d(6px, -4px, 0) rotate(10deg) scale(0.9);}
    30%{ transform:translate3d(4px, -3px, 0) rotate(14deg) scale(1);}
    40%{ transform:translate3d(1px, -5px, 0) rotate(15deg) scale(1.1);}
    100%{ transform:translate3d(2px, -4px, 0) rotate(14deg)scale(1.2);}
}

@-moz-keyframes _logo{
    0%{ transform:translate3d(0, 0, 0) scale(0.1);}
    5%{ transform:translate3d(4px, 0px, 0) scale(0.2);}
    10%{ transform:translate3d(2px, -2px, 0) scale(0.6);}
    20%{ transform:translate3d(6px, -4px, 0) rotate(10deg) scale(0.9);}
    30%{ transform:translate3d(4px, -3px, 0) rotate(14deg) scale(1);}
    40%{ transform:translate3d(1px, -5px, 0) rotate(15deg) scale(1.1);}
    100%{ transform:translate3d(2px, -4px, 0) rotate(14deg)scale(1.2);}
}



/* A N I M A C I O N    P U L P O*/
#pulpo{
    width: 250px;
    height: 250px;
    background: url(../imgs/Pequelogo1.ico) no-repeat;
    position: absolute;
    top: 360px;
    left: 640px;

    animation-name: _pulpo;
        animation-duration: 4s;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-fill-mode:forwards;
        animation-direction: alternate;

    -webkit-animation-name: _pulpo;
        -webkit-animation-duration: 4s;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode:forwards;
        -webkit-animation-direction: alternate;

    -o-animation-name: _pulpo;
        -o-animation-duration: 4s;
        -o-animation-delay: 0s;
        -o-animation-iteration-count: infinite;
        -o-animation-timing-function: linear;
        -o-animation-fill-mode:forwards;
        -o-animation-direction: alternate;

    -moz-animation-name: _pulpo;
        -moz-animation-duration: 4s;
        -moz-animation-delay: 0s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -moz-animation-fill-mode:forwards;
        -moz-animation-direction: alternate;
}

@keyframes _pulpo{
   0%{ transform:translate3d(0, 0, 0); opacity:0.8;}
    5%{ transform:translate3d(4px, -2px, 0); opacity:1;}
    10%{ transform:translate3d(2px, -4px, 0) rotate(10deg); }
    20%{ transform:translate3d(7px, -8px, 0) rotate(14deg) scale(0.9); }
    30%{ transform:translate3d(5px, -12px, 0) rotate(15deg); }
    40%{ transform:translate3d(1px, -16px, 0) rotate(20deg); }
    50%{ transform:translate3d(2px, -20px, 0) rotate(18deg) scale(1.1); }
    60%{ transform:translate3d(-3px, -24px, 0) rotate(20deg); opacity:0.7; }
    100%{ transform:translate3d(0, -40px, 0); opacity:1; }
}

@-webkit-keyframes _pulpo{
   0%{ transform:translate3d(0, 0, 0); opacity:0.8;}
    5%{ transform:translate3d(4px, -2px, 0); opacity:1;}
    10%{ transform:translate3d(2px, -4px, 0) rotate(10deg); }
    20%{ transform:translate3d(7px, -8px, 0) rotate(14deg) scale(0.9); }
    30%{ transform:translate3d(5px, -12px, 0) rotate(15deg); }
    40%{ transform:translate3d(1px, -16px, 0) rotate(20deg); }
    50%{ transform:translate3d(2px, -20px, 0) rotate(18deg) scale(1.1); }
    60%{ transform:translate3d(-3px, -24px, 0) rotate(20deg); opacity:0.7; }
    100%{ transform:translate3d(0, -40px, 0); opacity:1; }
}

@-moz-keyframes _pulpo{
   0%{ transform:translate3d(0, 0, 0); opacity:0.8;}
    5%{ transform:translate3d(4px, -2px, 0); opacity:1;}
    10%{ transform:translate3d(2px, -4px, 0) rotate(10deg); }
    20%{ transform:translate3d(7px, -8px, 0) rotate(14deg) scale(0.9); }
    30%{ transform:translate3d(5px, -12px, 0) rotate(15deg); }
    40%{ transform:translate3d(1px, -16px, 0) rotate(20deg); }
    50%{ transform:translate3d(2px, -20px, 0) rotate(18deg) scale(1.1); }
    60%{ transform:translate3d(-3px, -24px, 0) rotate(20deg); opacity:0.7; }
    100%{ transform:translate3d(0, -40px, 0); opacity:1; }
}

@-o-keyframes _pulpo{
   0%{ transform:translate3d(0, 0, 0); opacity:0.8;}
    5%{ transform:translate3d(4px, -2px, 0); opacity:1;}
    10%{ transform:translate3d(2px, -4px, 0) rotate(10deg); }
    20%{ transform:translate3d(7px, -8px, 0) rotate(14deg) scale(0.9); }
    30%{ transform:translate3d(5px, -12px, 0) rotate(15deg); }
    40%{ transform:translate3d(1px, -16px, 0) rotate(20deg); }
    50%{ transform:translate3d(2px, -20px, 0) rotate(18deg) scale(1.1); }
    60%{ transform:translate3d(-3px, -24px, 0) rotate(20deg); opacity:0.7; }
    100%{ transform:translate3d(0, -40px, 0); opacity:1; }
}

/* A N I M A C I O N    I N D E X*/
#manzana{
	width:150px;
	height:157px;
	background:url(../imgs/manzana1.png) no-repeat;
	position:absolute;
	top:3px;
	left:1100px;
	animation-name: manzana;
		animation-duration: 2s;
	    animation-delay: 0s;
	    animation-iteration-count: 4;
	    animation-timing-function: linear;
	    animation-direction: alternate;
	/*Las siguientes lineas solamente son para hacer compatible la animacion o el estilo
	 con los diferentes navegadores: */
	-webkit-animation-name: manzana;
	    -webkit-animation-duration: 2s;
	    -webkit-animation-delay: 0s;
	    -webkit-animation-iteration-count: 4;
	    -webkit-animation-timing-function: linear;
	    -webkit-animation-direction: alternate;

	-o-animation-name: manzana;
	    -o-animation-duration: 2s;
	    -o-animation-delay: 0s;
	    -o-animation-iteration-count: 4;
	    -o-animation-timing-function: linear;
	    -o-animation-direction: alternate;

	-moz-animation-name: manzana;
	    -moz-animation-duration: 2s;
	    -moz-animation-delay: 0s;
	    -moz-animation-iteration-count: 4;
	    -moz-animation-timing-function: linear;
	    -moz-animation-direction: alternate;
}

@keyframes manzana{
	/*Aqui animaremos las posiciontes utilizadas para cada objeto (imagen) como el left y top*/
    0%{transform:translate3d(0, 0,0) scale(0.2);}
    5%{transform:translate3d(3px, 2px,0) rotate(10deg) scale(0.9);}
    10%{transform:translate3d(3px, 2px,0) rotate(15deg) scale(1.2);}
    15%{transform:translate3d(4px, 2px,0) rotate(20deg) scale(1.2);}
    20%{transform:translate3d(5px, 2px,0) rotate(22deg) scale(0.8);}
    25%{transform:translate3d(6px, 2px,0) rotate(20deg) scale(0.9);}
    30%{transform:translate3d(7px, 2px,0) rotate(15deg) scale(0.8);}
    35%{transform:translate3d(8px, 2px,0) rotate(10deg) scale(0.9);}
    40%{transform:translate3d(9px, 2px,0) rotate(-15deg) scale(1.2);}
    45%{transform:translate3d(10px,20px,0) rotate(-20deg) scale(1.2);}
    50%{transform:translate3d(12px,20px,0) rotate(-22deg) scale(1.2);}
}
@-moz-keyframes manzana{
    0%{transform:translate3d(0,0,0) scale(0.2);}
    5%{transform:translate3d(3px, 2px,0) rotate(10deg) scale(0.9);}
    10%{transform:translate3d(3px, 2px,0) rotate(15deg) scale(1.2);}
    15%{transform:translate3d(4px, 2px,0) rotate(20deg) scale(1.2);}
    20%{transform:translate3d(5px, 2px,0) rotate(22deg) scale(0.8);}
    25%{transform:translate3d(6px, 2px,0) rotate(20deg) scale(0.9);}
    30%{transform:translate3d(7px, 2px,0) rotate(15deg) scale(0.8);}
    35%{transform:translate3d(8px, 2px,0) rotate(10deg) scale(0.9);}
    40%{transform:translate3d(9px, 2px,0) rotate(-15deg) scale(1.2);}
    45%{transform:translate3d(10px,20px,0) rotate(-20deg) scale(1.2);}
    50%{transform:translate3d(12px,20px,0) rotate(-22deg) scale(1.2);}
}
@-o-keyframes manzana{
    0%{transform:translate3d(0,0,0) scale(0.2);}
    5%{transform:translate3d(3px, 2px,0) rotate(10deg) scale(0.9);}
    10%{transform:translate3d(3px, 2px,0) rotate(15deg) scale(1.2);}
    15%{transform:translate3d(4px, 2px,0) rotate(20deg) scale(1.2);}
    20%{transform:translate3d(5px, 2px,0) rotate(22deg) scale(0.8);}
    25%{transform:translate3d(6px, 2px,0) rotate(20deg) scale(0.9);}
    30%{transform:translate3d(7px, 2px,0) rotate(15deg) scale(0.8);}
    35%{transform:translate3d(8px, 2px,0) rotate(10deg) scale(0.9);}
    40%{transform:translate3d(9px, 2px,0) rotate(-15deg) scale(1.2);}
    45%{transform:translate3d(10px,20px,0) rotate(-20deg) scale(1.2);}
    50%{transform:translate3d(12px,20px,0) rotate(-22deg) scale(1.2);}
}
@-webkit-keyframes manzana{
    0%{transform:translate3d(0,0,0) scale(0.2);}
    5%{transform:translate3d(3px, 2px,0) rotate(10deg) scale(0.9);}
    10%{transform:translate3d(3px, 2px,0) rotate(15deg) scale(1.2);}
    15%{transform:translate3d(4px, 2px,0) rotate(20deg) scale(1.2);}
    20%{transform:translate3d(5px, 2px,0) rotate(22deg) scale(0.8);}
    25%{transform:translate3d(6px, 2px,0) rotate(20deg) scale(0.9);}
    30%{transform:translate3d(7px, 2px,0) rotate(15deg) scale(0.8);}
    35%{transform:translate3d(8px, 2px,0) rotate(10deg) scale(0.9);}
    40%{transform:translate3d(9px, 2px,0) rotate(-15deg) scale(1.2);}
    45%{transform:translate3d(10px,20px,0) rotate(-20deg) scale(1.2);}
    50%{transform:translate3d(12px,20px,0) rotate(-22deg) scale(1.2);}
}

/* B U R B U J A S     A N I M A T I O N*/

.bubbles{
    width:160px;
    padding-left:20px;
    position:absolute;
    bottom:0;
    margin-left:-90px;
    left:80%;
    display:inline-block;
}

.bubble{
    -webkit-animation:short-bubble 1500ms linear infinite;
    animation:short-bubble 1500ms linear infinite;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    height:10px;
    width:9px;
    border:1px solid rgba(240,240,240,0.5);
    border-radius:50%;
}

.b2{
    -webkit-animation:medium-bubble 5000ms linear infinite;
    animation:medium-bubble 5000ms linear infinite;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    margin-left:-7px;
    margin-top:25px;
    height:13px;
    width:12px;
}

.b3{
    -webkit-animation-duration:3500ms;
    animation-duration:3500ms;
    margin-left:-5px;
    margin-bottom:10px;
}

.b4{
    -webkit-animation-duration:2000ms;
    animation-duration:2000ms;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    margin:0 0 40px -9px;
    height:7px;
    width:6px;
}

.b5{
    -webkit-animation:medium-bubble 3000ms linear infinite;
    animation:medium-bubble 3000ms linear infinite;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    margin-left:-1px;
    margin-top:100px;
    height:5px;
    width:4px;
}

.b6{
    -webkit-animation-duration:3000ms;
    animation-duration:3000ms;
    margin-left:-8px;
    margin-bottom:50px;
}

.b7{
    -webkit-animation-duration:6000ms;
    animation-duration:6000ms;
    margin-left:-3px;
    margin-bottom:50px;
    height:7px;
    width:6px;
}

.b8{
    -webkit-animation:medium-bubble 2000ms linear infinite;
    -webkit-animation-fill-mode:forwards;
    animation:medium-bubble 2000ms linear infinite;
    animation-fill-mode:forwards;
    margin-left:-13px;
    margin-bottom:30px;
}

@-webkit-keyframes short-bubble{
    0%{ -webkit-transform:translate3d(5px, 0, 0);opacity:0; }
    13%{ -webkit-transform:translate3d(2px, -20px, 0); opacity:1; }
    20%{ -webkit-transform:translate3d(5px, -40px, 0) scale(1.2); }
    30%{ -webkit-transform:translate3d(0, -60px, 0); }
    40%{ -webkit-transform:translate3d(8px, -80px, 0); }
    50%{ -webkit-transform:translate3d(3px, -100px, 0); }
    60%{ -webkit-transform:translate3d(8px, -120px, 0); }
    70%{ opacity:0.4; }
    80%, 100%{ -webkit-transform:translate3d(0,-200px, 0); opacity:0; }
}

@keyframes short-bubble{
    0%{ transform:translate3d(5px, 0, 0);opacity:0; }
    13%{ transform:translate3d(2px, -20px, 0); opacity:1; }
    20%{ transform:translate3d(5px, -40px, 0) scale(1.2); }
    30%{ transform:translate3d(0px, -60px, 0); }
    40%{ transform:translate3d(8px, -80px, 0); }
    50%{ transform:translate3d(3px, -100px, 0); }
    60%{ transform:translate3d(8px, -120px, 0); }
    70%{ opacity:0.4; }
    80%, 100%{ transform:translate3d(0,-200px, 0); opacity:0; }
}

@-webkit-keyframes medium-bubble{
    0%{ -webkit-transform:translate3d(0, 0, 0); opacity:0;}
    5%{ -webkit-transform:translate3d(4px, -20px, 0); opacity:1;}
    10%{ -webkit-transform:translate3d(2px, -40px, 0) rotate(10deg); }
    20%{ -webkit-transform:translate3d(7px, -80px, 0) rotate(14deg) scale(0.7); }
    30%{ -webkit-transform:translate3d(5px, -120px, 0) rotate(15deg); }
    40%{ -webkit-transform:translate3d(1px, -160px, 0) rotate(20deg); }
    50%{ -webkit-transform:translate3d(2px, -200px, 0) rotate(18deg) scale(1.1); }
    60%{ -webkit-transform:translate3d(-3px, -240px, 0) rotate(22deg); opacity:0.4; }
    100%{ -webkit-transform:translate3d(0, -400px, 0); opacity:0; }
}

@keyframes medium-bubble{
    0%{ transform:translate3d(0, 0, 0); opacity:0;}
    5%{ transform:translate3d(4px, -20px, 0); opacity:1;}
    10%{ transform:translate3d(2px, -40px, 0) rotate(10deg); }
    20%{ transform:translate3d(7px, -80px, 0) rotate(14deg) scale(0.7); }
    30%{ transform:translate3d(5px, -120px, 0) rotate(15deg); }
    40%{ transform:translate3d(1px, -160px, 0) rotate(20deg); }
    50%{ transform:translate3d(2px, -200px, 0) rotate(18deg) scale(1.1); }
    60%{ transform:translate3d(-3px, -240px, 0) rotate(22deg); opacity:0.4; }
    100%{ transform:translate3d(0, -400px, 0); opacity:0; }
}


/* B U R B U J A S     A N I M A T I O N   C U R S O R*/
