{%extends 'base.html'%}
{%block estilos%}{%endblock%}
{%block load%}init();{%endblock%}
{%block body%}
	<div class="container">
		<div class="row">
			<center><h2>Pulsa sobre dos cartas para ver si coinciden... Mucha suerte ! :D</h2></center>
		</div>
		<div class="row">
			<div class="col-md-11 col-sm-11 col-xs-12 col-md-offset-1 col-sm-offset-1">
				<canvas id="canvas" width = "900" height="400">
					<center>
						<h1>Tu navegador no soporta el elemento "Canvas" de HTML5 :'(</h1>
					</center>
				</canvas>
				<br>
			</div>
		</div>
	</div>
	<form name="record" method="POST">
    {%csrf_token%}
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-xs-12 col-md-offset-1" align="left">
          Aciertos: <input type="text" name="contador" value="0" size="6" />
				</div>
        <div class="col-md-3 col-sm-4 col-xs-12 col-md-offset-1" align="left">
          Intentos: <input type="text" name="intentos" value="0" size="6" />
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12" align="center">
					Tiempo de juego: <input type="text" name="tiempo" value=" " size="6"/> segundos.
				</div>
			</div>
		</div>
	</form>

<br>
{%endblock%}
{%block javablock%}
	<script type="text/javascript" src="{{STATIC_URL}}js/memoria.js"></script>
{%endblock%}
