{%extends 'base.html'%}
{%block estilos%}
  <style type="text/css">
    canvas {
    border:1px solid #000;
    -webkit-box-shadow: 0px 0px 6px #000;
    -moz-box-shadow: 0px 0px 3px 3px #777;
    -o-box-shadow: 0px 0px 3px 3px #777;
    box-shadow: 0px 0px 3px 3px #777;
  }
  </style>
{%endblock%}
{%block load%}game.stop(){%endblock%}
{%block body%}
<br>
<div class="container">
   <section id="content">
     <article>
      <div id="cont"></div>
      <br clear="all" />
     </article>
    </section>
</div>
<!--ANIMACION BURBUJAS-->
<div id="container">

	<div class="bubbles">
		<img src="{{STATIC_URL}}imgs/drop.png" class="bubble b2" />
		<img src="{{STATIC_URL}}imgs/drop.png" class="bubble b5" />
		<img src="{{STATIC_URL}}imgs/drop.png" class="bubble" />
		<img src="{{STATIC_URL}}imgs/drop.png" class="bubble b6" />
		<img src="{{STATIC_URL}}imgs/drop.png" class="bubble b3" />
		<img src="{{STATIC_URL}}imgs/drop.png" class="bubble b7" />
		<img src="{{STATIC_URL}}imgs/drop.png" class="bubble b4" />
		<img src="{{STATIC_URL}}imgs/drop.png" class="bubble b8" />
	</div>
</div>

	
{%endblock%}
{%block javablock%}
	<script type="text/javascript" src="{{STATIC_URL}}js/snake.js"></script>
{%endblock%}
