{%extends 'base.html'%}

{%block body%}
<center>
<img src="{{STATIC_URL}}imgs/records.png">
<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
      {%if info == ''%}
        <table table style="background-color: FFFFFF" class="table table-striped table-bordered">
        <thead align="center">
          <th>PEQUE</th>
          <th>FECHA</th>
          <th>JUEGO</th>
          <th>RECORD</th>
          <th>TIEMPO</th>
          <th>HABILIDAD</th>
        </thead>
        {%for P in records%}
          <tr>
            <td>{{P.peque}}</td>
            <td>{{P.fecha}}</td>
            <td>{{P.juego}}</td>
            <td>{{P.record}}</td>
            <td>{{P.tiempo}}</td>
            <td>{{P.habilidad}}</td>
          </tr>
        {%endfor%}
      </table>
      {%else%}
      <center>
      <font color="orange">
	    <strong><h1>No se encontraron registros!!</h1></strong>
      </font>
      </center>
      {%endif%}
      
		</div>			
	</div>	
</div>
</center>
{%endblock%}